html    {
    background: url('images/bg.gif');
    background-repeat: no-repeat;
    background-size: cover;
}

#snickerdoodle {
    margin-left: 35%;
    width: 30%;
    height: auto;
}

footer {
    margin-top: 260px;
    margin-left: 5px;
}

h1 {
    color: aqua;
    text-align: center;
}

a {
    color: springgreen;
}

a:hover {
    color: royalblue;
    background-color: sandybrown;
    border-radius: 20%;
    border: solid;
    border-width: 1px;
    border-color: black;
}

li {
    color: springgreen;
}