html    {
    background: url('images/bg.gif');
    background-repeat: no-repeat;
    background-size: cover;
}

#snickerdoodle  {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 380px;
}

footer {
    margin-top: 260px;
    margin-left: 5px;
}

h1 {
    color: aqua;
    text-align: center;
}

a {
    color: rgb(58, 114, 86);
}

a:hover {
    color: royalblue;
    background-color: sandybrown;
    border-radius: 20%;
    border: solid;
    border-width: 1px;
    border-color: black;
}

li {
    color: rgb(58, 114, 86);
}

.food {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border-radius: 20px;
}

.recipe-list {
    margin-top: 15px;
    margin-left: auto;   
    margin-right: auto;
    width: 30%;
    border: solid;
    border-radius: 20px;
    border-width: 1px;
    background-color: wheat;
}